/* TODO 
1. add dark/light theme toggle



*/

/* ------- remove default browser formatting ------- */
* {
    margin: 0;
    padding: 0;
    border: none;
    vertical-align: baseline;
}


/* ------------ custom properties ------------ */



/* ----------- Full Page ------------ */
body {
    background-color: yellowgreen;
}


/* ----------- Navigation ------------ */
header {
    display: flex;
    flex-direction: row;
}

header .header-left {
    padding-left: 5px;
}

header .header-left a {
    display: flex;
    align-items: flex-end;
}

header .header-right {
    width: 100%;
}

header .header-right nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}


/* ----------- PageTop ------------ */

.pageTop {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.pageTop figure {
    padding-left: 2rem;
}

.mainImage img {
    height: 470px;
    width: 310px;
    object-fit: cover;
    object-position: 65% 0;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mainText {
    align-self: center;
}

.mainText h1 {
    font-size: clamp(2rem,6vw,4rem);
    line-height: 1.25;
    text-rendering: geometricPrecision;
}

.mainText h1 span {
    position: relative;
    display: block;
    font-size: clamp(1.5rem,5vw,3.25rem);
    text-rendering: auto;
}

.mainText p {
    font-size: clamp(1.1rem,3vw,1.9rem);
    margin: 0.5rem 0 0;
    font-weight: 200;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/* ----------- PageMiddle ------------ */

.projects-and-resources {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.projects {
    justify-self: center;
}

.projects h2 {
    margin: 1rem 0 2rem;
    text-align: center;
}

.resources {
    justify-self: start;
}

.resources h2 {    
    margin: 1rem 0 2rem;
}
.resources ul {
    list-style-type: none;
}

/* ----------- PageBottom ------------ */

.contact-section {
    background-color: white;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.contact-us {
    padding-top: 4rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}


#name-form {
    padding-top: 2rem;
}

#email-form, 
#message-form {
    padding-top: 1rem;
}


.form input, 
.form textarea {
    background-color: rgb(238, 238, 238);
    padding: .5rem;
    width: clamp(20rem, 10vh, 4rem);
    border-radius: 5px;
    box-shadow: 2px 0 5px rgb(119, 119, 119);
}


.form input::placeholder,
.form textarea::placeholder {
    font-weight: bold;
    opacity: .5;
}

.form input:focus, 
.form textarea:focus {
    outline: 2px solid blueviolet;
}

.form-side button {
    margin-top: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 100%;
    border-radius: 8px;
    box-shadow: 2px 0 5px rgb(119, 119, 119);
    background-color: yellowgreen;
}

.blurbside {
    padding-top: 10rem;
    width: 50%;
}

.blurbside p {
    padding-top: 1rem;
}

.contactdetails {
    padding-top: 3rem;
}