/* TODO 
1. add dark/light theme toggle



*/

/* ------- remove default browser formatting ------- */
* {
    margin: 0;
    padding: 0;
    border: none;
    vertical-align: baseline;
}


/* ------------ custom properties ------------ */
:root {
    --primaryColor: rgb(154, 205, 50);
    --secondaryColor: rgb(236, 164, 0);
    --tertiaryColor: rgb(0, 105, 146);
    --fourthColor: rgb(39, 71, 110);
    --fifthColor: rgb(0, 29, 74);
}



/* ----------- Full Page ------------ */
body {
    background-color: white;
    font-family: "Cabin Condensed", sans-serif;
}
.shadows-into light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
  } 

  .cabin-condensed-regular {
    font-family: "Cabin Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  


/* ----------- Navigation ------------ */
header {
    display: flex;
    flex-direction: row;
    background-color: var(--primaryColor);
}

header .header-left {
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

header .header-left a {
    display: flex;
    align-items: flex-end;
}

header .header-right {
    width: 100%;
}

header .header-right nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

header .header-right nav a {
    color: var(--fifthColor);
    text-decoration: none;
}


/* ----------- PageTop ------------ */

.pageTop {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    color: var(--fifthColor);
    z-index: 999;    
}

/* hero image */
.pageTop figure {
    padding-left: 2rem;
}

.mainImage img {
    height: 470px;
    width: 310px;
    object-fit: cover;
    object-position: 65% 0;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.seal img {
    scale: 30%;
    position: absolute;
    margin-left: -14rem;
    margin-top: 16rem;
}

.heroImage::after {
    content: url(https://raw.githubusercontent.com/2naturedigital/website/main/assets/hero-image-frame.svg);
    position: absolute;
    margin-left: -24.5rem;
    margin-top: -7rem;
    scale: 75%;
    z-index: -900;
}

/* hero text */

.mainText {
    align-self: center;
}

.mainText h1 {
    font-size: clamp(2rem,6vw,4rem);
    line-height: 1.25;
    text-rendering: geometricPrecision;
    font-family: 'Shadows Into Light', 'Ink Free', 'sans-serif';
}

.mainText h1 span {
    position: relative;
    display: block;
    font-size: clamp(1.5rem,5vw,3.25rem);
    text-rendering: auto;
}

.mainText p {
    font-size: clamp(1.1rem,3vw,1.9rem);
    margin: 0.5rem 0 0;
    font-weight: 200;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-left: 2rem;
}

.iconLinks {
    padding-left: 2rem;
    height: 3rem;
    width: 20rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
}

.mainText li {
    list-style: none;
    height: inherit;
    width: 3rem;
    position: inherit;
}

.mainText li a {
    height: inherit;
    width: inherit;
}

.mainText li img {
    height: inherit;
    width: inherit;
}

/* wave */
.pageTop .wave {
    height: 10rem;
    width: 100%;
    position: absolute;
    top: 2rem;
    z-index: -999;
    transform: rotate(180deg);
    animation: wave 15s linear infinite;
    background: url(https://raw.githubusercontent.com/2naturedigital/website/main/assets/wave2.svg);
}

@keyframes wave {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1600px;
    }
}



/* ----------- PageMiddle ------------ */


.projects-and-resources {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    gap: 5rem;
}

/* projects side */

.projects {
    align-self: center;
    background-color: var(--primaryColor);
    margin-left: 2rem;
    width: 23rem;
}

.projects h2 {
    margin: 1rem 0 2rem;
    text-align: center;
}

.project-list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem 2rem 2rem;
}

.project-list .text {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    text-wrap: nowrap;
    text-align: center;
}


.project-list .deodorant img {
    object-fit: cover;
}

/* resource side */
.resources {
    align-self: center;
    background-color: var(--secondaryColor);
    width: 30rem;
    text-align: center;
    margin-right: 2rem;
}

.resources h2 {    
    margin: 1rem 0 2rem;
}
.resources ul {
    list-style-type: none;
}

.resources li {
    padding: 1rem;
    text-align: left;
}

.resources a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


/* ----------- PageBottom ------------ */

.contact-section {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.contact-us {
    padding-top: 4rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}


#name-form {
    padding-top: 2rem;
}

#email-form, 
#message-form {
    padding-top: 1rem;
}


.form input, 
.form textarea {
    background-color: rgb(238, 238, 238);
    padding: .5rem;
    width: clamp(20rem, 10vh, 4rem);
    border-radius: 5px;
    box-shadow: 2px 0 5px rgb(119, 119, 119);
}


.form input::placeholder,
.form textarea::placeholder {
    font-weight: bold;
    opacity: .5;
}

.form input:focus, 
.form textarea:focus {
    outline: 2px solid var(--primaryColor);
}

.form-side button {
    margin-top: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 100%;
    border-radius: 8px;
    box-shadow: 2px 0 5px rgb(119, 119, 119);
    background-color: var(--secondaryColor);
}

.blurbside {
    padding-top: 10rem;
    width: 50%;
}

.blurbside p {
    padding-top: 1rem;
}

.contactdetails {
    padding-top: 3rem;
}

/* ---------FOOTER--------- */
footer {
    text-align: center;
    background-color: var(--primaryColor);
    padding: 1rem;
}


/* ----------MEDIA---------- */

@media (max-width:950px) {
    .resources li a img {
        display: none;
    }
    .resources {
        width: 25rem;
        margin-right: 0;
    }
}

@media (max-width:850px) {
    .pageTop {
        flex-direction: column;
    }
    .pageTop figure {
        align-self: center;
    }
    .projects-and-resources {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }
    .projects {
        margin-left: 0;
    }
}

@media (max-width: 650px) {
    .contact-us {
        flex-direction: column;
    }
    .blurbside {
        align-self: center;
        padding-top: 2rem;
    }
    .form-side button {
        width: 90%;
    }
}

@media (max-width:400px) {
    .projects {
        width: 90%;
    }
    .resources {
        width: 90%;
    }
}